[Desktop Entry]
Name=system24-sddm
Comment=SDDM Theme based on the system24 Discord theme
Type=Service
X-KDE-PluginInfo-Author=TestAccount666
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=MIT
X-KDE-ServiceTypes=SDDM/Theme
